{{#each erro}}
<h1>{{texto}}</h1>
{{/each}}

<div class="card">
    <div class="card-body">
        <h4>Nova postagem</h4>
        <form action="/admin/postagens/nova" method="POST">
            <label for="titulo">Titulo:</label>
            <input type="text" name="titulo">

            <label for="slug">Slug:</label>
            <input type="text" name="slug">

            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao">

            <label for="conteudo">Conteudo:</label>
            <textarea name="conteudo"></textarea>

            <label for="categoria">Categoria</label>

            <select name="categoria">
                {{#each categoria}}
                {{!-- {{categorias}} --}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria</option>
                {{/each}}
            </select>
            <button type="submit">Criar Postagem</button>

        </form>
    </div>

</div>