
<h2>Lista de Categorias</h2>

<hr>

<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>

{{#each categorias}}
    <div class="alert alert-danger">
        {{nome}} | {{slug}} | {{date}} | <a href="/admin/categorias/edit/{{_id}}"><button>Editar</button></a>
        | <form action="/admin/categorias/deletar" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit">Deletar</button>

        </form>
    </div>

    {{else}}
    <h2>Nenhuma categoria</h2>
{{/each}}
